{{>navbar }}

<div class="container categories linklist">
  <h1>Collections</h1>
  <p><a href="./paintings/all">Click here to see all paintings</a>, or select a collection below.</p>
  {{!-- <div class="link">
    <a href="./paintings/all">
      <div class="linkLabel">See all paintings</div>
    </a>
  </div> --}}
  {{#each categories}}
  <div class="link">
    <a href="./paintings/{{key}}">
      <h2 class="linkLabel">{{name}}</h2>
      <div class="linkBody">
            {{#if description}}
        <p class="description">{{description}}</p>
        {{/if}}
        {{#if thumb}}
        <div class="thumb">
          <img src="{{thumb.secure_url}}" />
        </div>
        {{/if}}    
      </div>
    </a>
  </div>
  {{/each}}

</div>