 {{>navbar }}

<div class="container contacts linklist">
  <h1>Contact</h1>
  {{!-- test to see if no posts --}} {{#each contacts}}


  <div class="contact link">
    <a href={{address}}><i class='{{icon}}'></i><div class="linkLabel">{{showPlatformAs}}</div>
    </a></div>


  {{/each}}
</div>