.categories {
    max-width:600px;
    min-width:310px;    
    > p {
        text-align:center;
    }
    p {
        font-size: 20px;
        margin: 0 0 20px 0;
        a {
            color:$accent-1;
            text-decoration: none;
        }
        a:hover {
            text-decoration:underline;
        }
    }
    .link {
        width: 100%;
        a {
            width: 100%;
        }
        .linkLabel {
            font-style: italic;
            text-transform: none;
            font-size: 20px; // text-align: center;
            width: 100%;
            display: block;
            margin: 25px 0;
        }
        .linkBody {  
            display:flex; 
            p {
                // margin: 0;
                padding-right: 10px;
                flex-basis:60%; 
                flex-grow: 1;
                // display:inline-block;               
            }
            .thumb {
                flex-basis:40%;
            }
            img {
                width: 100%;
                // width:40%;
                // flex-grow: 1;
                // height:auto;

                // height:auto;
                // display:inline-block;
            }
            
        }
        @media (max-width:400px) {
            .linkBody {
                display:block;
                p {
                    width:100%;
                    padding: 10px; 
                }
                img {
                    width:100%;
                    // height:auto;
                }
            }
        }
    }
}