.contacts {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
}

.contact {
    @extend %link;
    i {
        color: $bg-contrast-1;
    }
    .iconLabel {
        text-decoration: none;
        text-transform: uppercase;
        color: $bg-contrast-1;
        font-family: $title-font;
        display: inline;
        margin-left: 10px
    }
}