@import './reset';
//COLORS
$background: #f4f4f4;
$background-light: #e7e7e7;
$bg-contrast-1: #373737;
$bg-contrast-1-light: #858585;
$bg-contrast-2: #dbdbdb;
$accent-1: #4D7EA8;
//FONTS
$title-font: 'Cormorant Garamond',
serif;
$body-font: 'Open Sans',
Arial,
sans-serif;
//SIZES
$nav-height:2em;
body {
    background-color: $background;
    color: $bg-contrast-1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $title-font;
}

@import './homepage';
@import './navbar';
@import './linklist';
@import './galleries';
@import './paintings';
@import './single-painting';
@import './categories';
@import './about';


%nav-hover {
    color: $bg-contrast-1-light;
}

%link-hover {
    // color:$background;
    // background-color: $bg-contrast-1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//Global styles
* {
    box-sizing: border-box;
}

.container {
    margin-top: $nav-height*2;
    max-width: 600px;
    padding: 0 10px;
    animation:fadeIn .5s 1 ease-in;
    h1 {
        margin: 40px 0;
        font-size: 30px;
        text-align:center;
    }
}

button {
    border: solid .5px $bg-contrast-1;
    background: transparent;
    color: $bg-contrast-1;
    padding: 8px;
    margin-top: 10px;
    transition: all .1s;
}

button:focus,
button:hover {
    background: $background-light;
    outline: none;
}

h1 {
    font-size: 20px;
    font-weight: 300;
}

p {
    line-height: 1.1;
    font-size: 1.1em;
    margin: 10px 0;
    font-family: $title-font;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

img {
    animation: fadeIn .5s 1 ease-in;
}
