/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #f4f4f4;
  color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Garamond", serif; }

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 10px; }
  .index nav.homepage {
    display: flex;
    justify-content: space-between;
    padding: 15px 0; }
    .index nav.homepage .link-wrapper {
      display: flex;
      justify-content: center; }
      .index nav.homepage .link-wrapper .navlink {
        display: flex;
        align-items: flex-end; }
      .index nav.homepage .link-wrapper .navlink:hover a {
        font-weight: bold; }
  .index h1 {
    font-size: 24px;
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center; }
  .index img {
    display: block;
    max-height: 80vh;
    max-width: 100%; }

@media (max-width: 650px) {
  nav.homepage {
    flex-direction: column; }
    nav.homepage h1 {
      padding-bottom: 5px; } }

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  z-index: 100;
  padding: 5px; }
  nav.navbar a {
    text-decoration: none;
    color: #373737; }
  nav.navbar .logo {
    text-transform: uppercase;
    font-size: 20px;
    padding: 2px 5px;
    margin-left: 5px; }
  nav.navbar .navlink:hover {
    font-weight: bold; }

.navlinks {
  display: flex; }
  .navlinks a {
    text-decoration: none;
    color: #373737; }
  .navlinks .navlink {
    padding: 2px 5px;
    text-transform: uppercase; }

@media (max-width: 650px) {
  nav.navbar {
    flex-direction: column; }
    nav.navbar .logo {
      padding-bottom: 10px; } }

.news h1 {
  margin: 10px 0; }

.news .timestamp {
  font-weight: 200;
  text-transform: uppercase; }

.news .post {
  padding-top: 20px; }
  .news .post .content {
    overflow: hidden;
    transition: all 1s;
    position: relative; }
    .news .post .content .fadeOut {
      display: none;
      position: absolute;
      bottom: 0em;
      width: 100%;
      height: 4em;
      background-image: linear-gradient(rgba(137, 129, 124, 0) 0%, #89817c 100%); }

.linklist {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  align-items: center;
  justify-content: center; }

.link {
  color: #373737;
  margin: 10px;
  min-width: 300px;
  color: #373737; }
  .link a {
    border: solid 1px #373737;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: all .1s; }
  .link a:hover,
  .link a:focus {
    background: #c0B283; }
  .link i {
    color: #373737; }
  .link .linkLabel {
    text-decoration: none;
    text-transform: uppercase;
    color: #373737;
    font-family: "Cormorant Garamond", serif;
    display: inline;
    margin-left: 10px; }

.team .person {
  margin: 30px 0; }
  .team .person h1 {
    padding: 5px 0; }
  .team .person img {
    width: 150px; }

.team .role {
  font-weight: 200;
  text-transform: uppercase; }

.paintings.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; }
  .paintings.container .column {
    flex: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 0 3px; }
    .paintings.container .column img {
      vertical-align: middle;
      width: 100%; }
  .paintings.container figure {
    position: relative;
    margin-top: 6px; }
  .paintings.container figure:hover figcaption {
    height: auto;
    opacity: .8; }
  .paintings.container figcaption {
    background-color: #f4f4f4;
    opacity: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 0;
    color: #373737;
    padding: 5px 0;
    transition: opacity .4s ease-in; }
    .paintings.container figcaption div {
      padding: 0 4px; }
    .paintings.container figcaption .title {
      text-transform: uppercase; }

@media screen and (max-width: 800px) {
  .paintings.container .column {
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%; } }

.single-painting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .single-painting div {
    width: 100%; }
  .single-painting figure {
    width: 100%; }
    .single-painting figure img {
      height: 70vh;
      margin: 0 auto;
      display: block; }
    .single-painting figure figcaption {
      text-align: center;
      padding: 5px 0; }
      .single-painting figure figcaption .title {
        font-style: italic; }
  .single-painting nav {
    margin: 0 auto;
    text-align: center;
    padding: 5px 0; }
    .single-painting nav span {
      vertical-align: text-top; }
    .single-painting nav a {
      font-size: 1.5em;
      text-decoration: none;
      color: #373737; }

nav.navbar .active {
  border-bottom: 0.5px solid #373737; }

@keyframes fadeIn {
  0% {
    color: #f4f4f4;
    margin-bottom: -20px; }
  100% {
    top: #373737; } }

* {
  box-sizing: border-box; }

.container {
  margin: 4em auto 0 auto;
  max-width: 600px;
  padding: 0 10px; }

button {
  border: solid 0.5px #373737;
  background: transparent;
  color: #373737;
  padding: 8px;
  margin-top: 10px;
  transition: all .1s; }

button:focus, button:hover {
  background: #e7e7e7;
  outline: none; }

h1 {
  font-size: 20px;
  font-weight: 300; }

ul,
ol,
p {
  font-family: "Open Sans", Arial, sans-serif; }

p {
  line-height: 1.1;
  margin: 10px 0;
  font-family: "Open Sans", Arial, sans-serif; }

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }
