/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #f4f4f4;
  color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Garamond", serif; }

.index {
  animation: fadeIn .5s 1 ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 10px; }
  .index nav.homepage {
    display: flex;
    justify-content: space-between;
    padding: 15px 0; }
    .index nav.homepage .link-wrapper {
      display: flex;
      justify-content: center; }
      .index nav.homepage .link-wrapper .navlink {
        display: flex;
        align-items: flex-end; }
  .index h1 {
    font-size: 24px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center; }
  .index img {
    display: block;
    max-height: 80vh;
    max-width: 100%; }

@media (max-width: 650px) {
  nav.homepage {
    flex-direction: column; }
    nav.homepage h1 {
      padding-bottom: 5px; } }

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  z-index: 100;
  padding: 5px; }
  nav.navbar a {
    text-decoration: none;
    color: #373737; }
  nav.navbar .logo {
    text-transform: uppercase;
    font-size: 20px;
    padding: 2px 5px;
    margin-left: 5px; }

.navlinks {
  display: flex; }
  .navlinks a {
    text-decoration: none;
    color: #373737; }
  .navlinks .navlink {
    padding: 2px 5px;
    text-transform: uppercase; }

@media (max-width: 650px) {
  nav.navbar {
    flex-direction: column; }
    nav.navbar .logo {
      padding-bottom: 10px; }
  .container {
    margin: 8em auto 0 auto; } }

.linklist {
  min-height: 60vh; }
  .linklist .link {
    color: #373737;
    margin: 10px;
    min-width: 300px; }
    .linklist .link a {
      border: solid 1px #dbdbdb;
      color: #373737;
      display: block;
      padding: 10px;
      text-decoration: none;
      transition: all .2s; }
    .linklist .link i {
      color: inherit;
      margin-right: 10px; }
    .linklist .link .linkLabel {
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Cormorant Garamond", serif;
      display: inline; }
    .linklist .link p {
      color: inherit; }

.galleries .addresses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.galleries .link {
  min-width: 200px; }
  .galleries .link h2 {
    font-style: italic;
    font-size: 20px;
    color: inherit; }

.galleries.container {
  max-width: 800px; }

.paintings.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; }
  .paintings.container .category-title {
    width: 100%;
    padding: 25px 0 15px 0; }
    .paintings.container .category-title h1 {
      font-style: italic;
      font-size: 24px;
      margin: 0 auto;
      text-align: center; }
    .paintings.container .category-title p {
      max-width: 500px;
      margin: 0 auto;
      padding: 10px 0; }
  .paintings.container .column {
    flex: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 0 3px; }
    .paintings.container .column img {
      vertical-align: middle;
      width: 100%; }
  .paintings.container figure {
    position: relative;
    margin-top: 6px; }
  .paintings.container figure:hover figcaption {
    height: auto;
    opacity: .8; }
  .paintings.container figcaption {
    background-color: #f4f4f4;
    font-weight: 500;
    opacity: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 0;
    color: #373737;
    padding: 5px 0;
    transition: opacity .4s ease-in; }
    .paintings.container figcaption div {
      padding: 0 4px; }
    .paintings.container figcaption .title {
      text-transform: uppercase; }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 675px) {
  .paintings.container .column {
    flex: 100%;
    max-width: 100%; } }

.single-painting.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-width: none; }
  .single-painting.container .back {
    color: inherit;
    text-decoration: none;
    margin: 4em 0px 0px 0;
    display: block; }
    .single-painting.container .back span {
      vertical-align: middle;
      padding: 0; }
  .single-painting.container figure img {
    margin: 0 auto;
    display: block;
    height: 70vh;
    width: auto;
    max-width: 100%; }
  .single-painting.container figure figcaption {
    text-align: center;
    padding: 5px 0; }
    .single-painting.container figure figcaption .title {
      font-style: italic; }
  .single-painting.container nav {
    margin: 0 auto;
    text-align: center;
    padding: 5px 0; }
    .single-painting.container nav a {
      vertical-align: middle; }
  .single-painting.container .arrow {
    font-size: 2em;
    text-decoration: none;
    color: #373737;
    padding: 0 10px; }

.categories {
  max-width: 600px;
  min-width: 310px; }
  .categories > p {
    text-align: center;
    color: red; }
  .categories p {
    font-size: 20px;
    margin: 0 0 20px 0; }
    .categories p a {
      color: #4D7EA8;
      text-decoration: none; }
    .categories p a:hover {
      text-decoration: underline; }
  .categories .link {
    width: 100%; }
    .categories .link a {
      width: 100%; }
    .categories .link .linkLabel {
      font-style: italic;
      text-transform: none;
      font-size: 20px;
      width: 100%;
      display: block;
      margin: 25px 0; }
    .categories .link .linkBody {
      display: flex; }
      .categories .link .linkBody p {
        padding-right: 10px;
        flex-basis: 60%;
        flex-grow: 1; }
      .categories .link .linkBody .thumb {
        flex-basis: 40%; }
      .categories .link .linkBody img {
        width: 100%; }
    @media (max-width: 400px) {
      .categories .link .linkBody {
        display: block; }
        .categories .link .linkBody p {
          width: 100%;
          padding: 10px;
          color: pink !important; }
        .categories .link .linkBody img {
          width: 100%; } }

.about h1 {
  text-align: center; }

.about img {
  width: 50%;
  float: left;
  padding: 0 10px 10px 0; }

.index nav.homepage .link-wrapper .navlink:hover a, nav.navbar .active, nav.navbar .navlink:hover {
  color: #858585; }

.linklist .link a:hover,
.linklist .link a:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  box-sizing: border-box; }

.container {
  margin-top: 4em;
  max-width: 600px;
  padding: 0 10px;
  animation: fadeIn .5s 1 ease-in; }
  .container h1 {
    margin: 40px 0;
    font-size: 30px;
    text-align: center; }

button {
  border: solid 0.5px #373737;
  background: transparent;
  color: #373737;
  padding: 8px;
  margin-top: 10px;
  transition: all .1s; }

button:focus,
button:hover {
  background: #e7e7e7;
  outline: none; }

h1 {
  font-size: 20px;
  font-weight: 300; }

p {
  line-height: 1.1;
  font-size: 1.1em;
  margin: 10px 0;
  font-family: "Cormorant Garamond", serif; }

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

img {
  animation: fadeIn .5s 1 ease-in; }
