.linklist {
    min-height: 60vh;   
    .link {
        color: $bg-contrast-1;
        margin: 10px;
        min-width: 300px;
        a {
            border: solid 1px $bg-contrast-2;
            color:$bg-contrast-1;
            display: block;
            padding: 10px;
            text-decoration: none;
            transition: all .2s;
        }
        a:hover,
        a:focus {
            @extend %link-hover;
        }
        i {
            color: inherit;
            margin-right:10px;
        }
        .linkLabel {
            text-decoration: none;
            text-transform: uppercase;
            // color: $bg-contrast-1;
            font-family: $title-font;
            display: inline;
        }
    
        p {
            color:inherit;
        }
    }
}


