nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:inherit;
    z-index:100;
    padding:5px;
    animation: fadeIn .2s 1 ease-in;
    a {
        text-decoration: none;
        color: $bg-contrast-1;
    }
    .active {
        @extend %nav-hover;
    }
    .logo {
        text-transform: uppercase;
        font-size: 20px;
        padding: 2px 5px;
        margin-left:5px;
    }
    .navlink:hover {
        @extend %nav-hover;
    }

}

.navlinks {
    // margin-right:10px;
    display: flex;
    a {
        text-decoration: none;
        color: $bg-contrast-1;
    }
    .navlink {
        padding: 2px 5px;
        text-transform: uppercase;
    }  
}

@media (max-width:650px){
    nav.navbar {
        flex-direction:column;
        .logo {
            padding-bottom:10px;
        }
    }

    .container {
        margin: $nav-height*4 auto 0 auto;

    }
}