.single-painting.container {
    display: flex;
    align-items: center;
    justify-content: center; // width: 100vw;
    height: 80vh;
    max-width: none;
    .back {
        color: inherit;
        text-decoration: none;
        margin: $nav-height*2 20px 20px 0;
        display: block;
    }
    figure {
        img {
            //working one
            margin: 0 auto;
            display: block;
            height:70vh;
            width:auto;  
            max-width:100%;         
        }
        figcaption {
            text-align: center;
            padding: 5px 0;
            .title {
                font-style: italic;
            }
        }
    }
    nav {
        margin: 0 auto;
        text-align: center; // background-color: aqua;
        padding: 5px 0;
        span {
            vertical-align: text-top;
        }
        a {
            font-size: 1.5em;
            text-decoration: none;
            color: $bg-contrast-1;
        }
    }
}